asgiref==3.6.0
beautifulsoup4==4.11.1
crispy-bootstrap5==0.7
Django==4.1.4
django-bootstrap4==22.3
django-bootstrap5==22.2
django-crispy-forms==1.14.0
django-filter==22.1
django-flatpickr==2.0.0
django-tables2==2.4.1
mysqlclient==2.1.1
phonenumberslite==8.13.2
pydantic==1.10.2
soupsieve==2.3.2.post1
sqlparse==0.4.3
typing_extensions==4.4.0
tzdata==2022.7
