<h1 class="text-white">FAQs</h1>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="text-black">What is a Business Permit?</h4>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            A business permit is a certification that your business is legitimate, meaning it's authorized to operate in the city or municipality where it's registered. 
            <br><br>
            This official document is also called the mayor's permit because it's processed by the local government unit (LGU) with jurisdiction over the place of business. 
            <br><br>
            A business permit in the Philippines is issued to ensure that a business pays taxes and complies with local regulations for safety, security, health, and sanitation. 
            <br><br>
            This document also entitles an individual or organization to any support provided by LGUs to businesses in their area. 
            <br><br>
            Running an enterprise without this permit can result in penalties such as fines and imprisonment. In worst cases, the LGU may close the operations until a business permit is secured. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="text-black">Why Should You Apply for a Business Permit in the Philippines?</h4>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Being a new entrepreneur, you have so much on your plate as you prepare for your business launch. Despite that, it's important to make your business permit application a priority.
            <br><br>
            Why? First, it's required by law. Sole proprietors, partnerships, corporations, cooperatives, foundations, and associations in the Philippines need to get a business license from their respective LGUs before they start operations. 
            <br><br>
            Second, a business permit in the Philippines is one of the requirements for application for business loans, government financial assistance programs, BIR registration, and other related transactions. It may also be required when you apply as an authorized reseller/distributor of a brand or as an online seller on e-commerce marketplaces. Thus, you need to get this permit first, so you can set up your new enterprise smoothly. 
            <br><br>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="text-black">Business Permit Requirements {% now "Y" %}: What to Prepare?</h4>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            6 Permits and Certificates Needed to Start a Business in the Philippines
            <br><br>
            Before applying for a business permit, you need to register your business with the appropriate government agency and secure other clearances and permits. Business permit requirements take time and effort to process and obtain. You might not have these documents on hand yet, so secure them first. Make sure you have the following required documents for your business permit application in the Philippines. 
            <br><br>
            <ol>
                <li>Fire Safety Inspection Certificate</li>
                <li>Sanitary Permit</li>
                <li>Building Permit and Electrical Inspection Certificate</li>
                <li>Certificate of Occupancy</li>
                <li>Locational Clearance</li>
                <li>Electric Utility Connection</li>
            </ol>
        </div>
      </div>
    </div>
  </div>