{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

<div id="page2Div" class="mt-5">
    <p class="fw-bold text-uppercase text-center">Bureau of fire station section(Application for Fire Safety inspection certificate)</p>
    <div class="row bordered-section">
        <div class="container">
            <div class="row mb-2">
                <label for="bfp_tracking_no" class="col-2 col-form-label">Tracking No.</label>
                <div class="col-4 fw-bold text-uppercase display-6">
                    <input class="underlined-input form-control-plaintext" style="font-size:1.2rem !important; font-weight:bold;" type="text" name="bfp_tracking_no" id="bfp_tracking_no" value="{{ form.instance.bfp_tracking_no }}" readonly>
                </div>
                <label for="fire_safety_date" class="col-1 offset-1 col-form-label">Date:</label>
                <div class="col-4">
                    <input class="form-control underlined-input" type="date" name="fire_safety_date" id="fire_safety_date" value="{{ form.fire_safety_date.value }}" >
                </div>
            </div>
            <div class="row">
                <p class="mb-3 text-uppercase">(To be filled out by the Applicant/Owner)</p>
                <label for="owners_name" class="col-3 col-form-label">Name of Applicant/Owner<span class="text-danger"> *</span>:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="text" name="owners_name" id="owners_name" value="{{ form.owners_name.value }}" required>
                </div>
            </div>
            <div class="row">
                <label for="name_of_business" class="col-3 col-form-label">Name of business<span class="text-danger"> *</span>:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="text" name="name_of_business" id="name_of_business"  value="{{ form.name_of_business.value }}" required>
                </div>
            </div>
            <div class="row">
                <label for="floor_area" class="col-3 col-form-label">Total Floor Area<span class="text-danger"> *</span>:</label>
                <div class="col-4">
                    <input class="form-control underlined-input" type="text" name="floor_area" id="floor_area" value="{{ form.floor_area.value }}" required>
                </div>
                <label for="contact_no" class="col col-form-label">Contact No.</label>
                <div class="col">
                    <input class="form-control underlined-input" type="text" pattern="[0][0-9]{10}" name="contact_no" maxlength="11"  value="{{ form.contact_no.value }}"  id="contact_no">
                </div>
                
            </div>
            <div class="row">
                <label for="address" class="col-4 col-form-label">Address of Establishment<span class="text-danger"> *</span>:</label>
                <div class="col-8">
                    <input class="form-control underlined-input" type="text" name="address" id="address"  value="{{ form.address.value }}"  required>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <p class="py-0 my-0 underlined"></p>
                    <small class="align-top text-uppercase agreement-text">Signature of Applicant/Owner</small>
                </div>
            </div>
            <div class="row">
                <label for="certified_by" class="col-3 col-form-label">Certified By<span class="text-danger"> *</span>:</label>
                <div class="col-4">
                    <input class="form-control underlined-input" type="text" name="certified_by" id="certified_by" value="{{ form.certified_by.value }}" required>
                </div>
            </div>
            <div class="row">
                <label for="customer_relation_officer" class="col-2 col-form-label">Customer Relation Officer:</label>
                <div class="col-2">
                    <input class="form-control underlined-input" type="text" name="customer_relation_officer" id="customer_relation_officer" value="{{ form.customer_relation_officer.value }}"  >
                </div>
                <label for="time_date_received" class="col-2 col-form-label">Time and Date Received:</label>
                <div class="col-2">
                    <input class="form-control underlined-input" type="date" name="time_date_received" id="time_date_received" value="{{ form.time_date_received.value }}">
                </div>

                <div class="col">
                    <label class="visually-hidden" for="fire_inspection_fee"></label>
                    <div class="input-group mb-3 h-100">
                        <small class="input-group-text col-5 to_disable_on_read_only">Fire inspection fee assessment:</small>
                        <input type="number" class="form-control h-100" name="fire_inspection_fee" value="0" min="0" id="fire_inspection_fee" placeholder="0.0" value="{{ form.fire_inspection_fee.value }}">
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    <p class="fs-6">Important Notice: As per Section 12 of the implementing Rules and Regulations of the Fire Code of 2018, certain establishment (e.g building lessers, fire, earthquake, and explosion hazard insurance companies and vendors of firefighting equipment, appliance and devices) may be required to pay addittional charges and fees other than the Fire Safety Inspection Fees. Theses shall be collected during inspections or in another process to be communicated by representatives of the Bureau of Fire Protection (BFP).</p>

    
    <div class="row bordered-section" style="height:250px;">
        <label for="sketch_image">
            <h4>Map Sketch</h4>
        
            <div class="col-12">
                <img class="img-fluid" id="sketch_picture" alt="Upload Sketch Image Here" src="{% if form.instance.sketch_image %}{{ form.instance.sketch_image.url }}{% endif %}">
            </div>
        </label>
        <input type="file" name="sketch_image" class="form-control d-none" id="sketch_image" accept="image/jpeg, image/png, image/jpg"/>
    </div>

    <div class="row text-uppercase activities-label">
        <p>Inspection Report:</p>
        <div class="col-3">
            <p>Business Activities</p>
        </div>
        <div class="col-2 offset-5"><p>Taxable Items</p></div>
        <div class="col-2">No. of Units</div>
    </div>

    <div class="row text-uppercase activities-label">
        <div class="col-3 text-right">
            <p>Main</p>
        </div>
        <div class="col-4"><input class="underlined-input w-100" name="activities_main1" value="{{ form.activities_main1.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="taxable_items1" value="{{ form.taxable_items1.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="no_of_units1" value="{{ form.no_of_units1.value }}"/></div>
    </div>

    <div class="row text-uppercase activities-label">
        <div class="col-4 offset-3"><input class="underlined-input w-100" name="activities_main2" value="{{ form.activities_main2.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="taxable_items2" value="{{ form.taxable_items2.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="no_of_units2" value="{{ form.no_of_units2.value }}"/></div>
    </div>

    <div class="row text-uppercase activities-label">
        <div class="col-4 offset-3"><input class="underlined-input w-100" name="activities_main3" value="{{ form.activities_main3.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="taxable_items3" value="{{ form.taxable_items3.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="no_of_units3" value="{{ form.no_of_units3.value }}"/></div>
    </div>

    <div class="row text-uppercase activities-label">
        <div class="col-4 offset-3"><input class="underlined-input w-100" name="activities_main4" value="{{ form.activities_main4.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="taxable_items4" value="{{ form.taxable_items4.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="no_of_units4" value="{{ form.no_of_units4.value }}"/></div>
    </div>

    <!-- Others -->

    <div class="row text-uppercase activities-label">
        <div class="col-3 text-right">
            <p>Others</p>
        </div>
        <div class="col-4"><input class="underlined-input w-100" name="activities_others1" value="{{ form.activities_others1.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="others_taxable_items1" value="{{ form.others_taxable_items1.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="others_no_of_units1" value="{{ form.others_no_of_units1.value }}"/></div>
    </div>

    <div class="row text-uppercase activities-label">
        <div class="col-4 offset-3"><input class="underlined-input w-100" name="activities_others2" value="{{ form.activities_others2.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="others_taxable_items2" value="{{ form.others_taxable_items2.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="others_no_of_units2" value="{{ form.others_no_of_units2.value }}"/></div>
    </div>

    <div class="row text-uppercase activities-label">
        <div class="col-4 offset-3"><input class="underlined-input w-100" name="activities_others3" value="{{ form.activities_others3.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="others_taxable_items3" value="{{ form.others_taxable_items3.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="others_no_of_units3" value="{{ form.others_no_of_units3.value }}"/></div>
    </div>
    
    <div class="row text-uppercase activities-label">
        <div class="col-4 offset-3"><input class="underlined-input w-100" name="activities_others4" value="{{ form.activities_others4.value }}"/></div>
        <div class="col-3"><input class="underlined-input w-100" name="others_taxable_items4" value="{{ form.others_taxable_items4.value }}"/></div>
        <div class="col-2"><input class="underlined-input w-100" name="others_no_of_units4" value="{{ form.others_no_of_units4.value }}"/></div>
    </div>

    <div class="row mt-2">
        <label for="no_of_employees" class="col-3 col-form-label text-capitalize">No. of Employees</label>
        <div class="col-3">
            <input class="form-control underlined-input" type="number" min="0" name="no_of_employees" id="no_of_employees" value="{{ form.no_of_employees.value }}"> 
        </div>
        <label for="area_used" class="col-3 col-form-label text-capitalize">Area used in business(in sq.m.)</label>
        <div class="col-3">
            <input class="form-control underlined-input" type="text" name="area_used" id="area_used" value="{{ form.area_used.value }}">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6">
            <div class="row">
                <p class="mb-0 activities-label">Signboard(in sq.m)</p>
                <label for="single_faced" class="col-3 offset-2 col-form-label text-capitalize">Single Faced:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="text" name="single_faced" id="single_faced" value="{{ form.single_faced.value }}">
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <p class="mb-0 activities-label">For Eatery Establishment:</p>
                <label for="no_of_tables" class="col-5 offset-2 col-form-label text-capitalize">No. of Tables:</label>
                <div class="col-5">
                    <input class="form-control underlined-input" min=0 type="number" name="no_of_tables" id="no_of_tables" value="{{ form.no_of_tables.value }}">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <label for="double_faced" class="col-3 offset-2 col-form-label text-capitalize">Double Faced:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="text" name="double_faced" id="double_faced" value="{{ form.double_faced.value }}">
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <label for="no_of_chairs" class="col-5 offset-2 col-form-label text-capitalize">No. of Chairs:</label>
                <div class="col-5">
                    <input class="form-control underlined-input" min=0 type="number" name="no_of_chairs" id="no_of_chairs" value="{{ form.no_of_chairs.value }}">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <label for="space_lot_rental" class="col-3 offset-2 col-form-label text-capitalize">Bldg. Space/Lot Rental:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="number" min="0" name="space_lot_rental" id="space_lot_rental" value="{{ form.space_lot_rental.value }}">
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <label for="seating_capacity" class="col-5 offset-2 col-form-label text-capitalize">Total Seating Capacity:</label>
                <div class="col-5">
                    <input class="form-control underlined-input" min=0 type="number" name="seating_capacity" id="seating_capacity" value="{{ form.seating_capacity.value }}">
                </div>
            </div>
        </div>
    </div>

    <div class="row activities-label">
        <p>Vehicle used in Business:</p>
        <div class="col-3">
            <p>Gross Weight of:</p>
        </div>

        <div class="col-3">
            <p class="text-underlined">Peddling</p>
        </div>

        <div class="col-3">
            <p class="text-underlined">Delivery</p>
        </div>

        <div class="col-3">
            <p>For Boarding House</p>
            <div class="row">
                
            </div>
        </div>
    </div>

    <div class="row mt-2 activities-label">
        <div class="col-3">
            <div class="row">
                <div class="col-8 offset-4">
                    <p>4,500 kgs or more</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="weight_of_45kgs_peddling"  value="{{ form.weight_of_45kgs_peddling.value }}"/>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="weight_of_45kgs_delivery"  value="{{ form.weight_of_45kgs_delivery.value }}"/>
        </div>

        <div class="col-5">
            <div class="row">
                <label for="no_of_beds" class="col-4 offset-2 col-form-label">No. of Beds:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="number" min="0" name="no_of_beds" id="no_of_beds" value="{{ form.no_of_beds.value }}">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 activities-label">
        <div class="col-3">
            <div class="row">
                <div class="col-8 offset-4">
                    <p>Below 4,500 kgs</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="weight_of_below_45kgs_peddling"  value="{{ form.weight_of_below_45kgs_peddling.value }}"/>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="weight_of_below_45kgs_delivery"  value="{{ form.weight_of_below_45kgs_delivery.value }}"/>
        </div>

        <div class="col-5">
            <div class="row">
                <label for="no_of_boarders" class="col-4 offset-2 col-form-label">Total No. of Boarders:</label>
                <div class="col-6">
                    <input class="form-control underlined-input" type="number" min="0" name="no_of_boarders" id="no_of_boarders" value="{{ form.no_of_boarders.value }}">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 activities-label">
        <div class="col-3">
            <div class="row">
                <div class="col-8 offset-4">
                    <p>Motorized Tricycle</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="motorized_tricycle_peddling" value="{{ form.motorized_tricycle_peddling.value }}"/>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="motorized_tricycle_delivery" value="{{ form.motorized_tricycle_delivery.value }}"/>
        </div>

        <div class="col-5">
            <div class="row">
                <label for="estimated_capitalization" class="col-4 offset-2 col-form-label">Estimated Capitalization:</label>
                <div class="col-6 input-group">
                    <p class="input-group-text to_disable_on_read_only"></p>
                    <input class="form-control h-100" type="number" min="0" value="0" name="estimated_capitalization" id="estimated_capitalization" value="{{ form.estimated_capitalization.value }}">
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-2 activities-label">
        <div class="col-3">
            <div class="row">
                <div class="col-8 offset-4">
                    <p>Motorized</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="motorized_peddling"  value="{{ form.motorized_peddling.value }}"/>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="motorized_delivery"  value="{{ form.motorized_delivery.value }}"/>
        </div>
    </div>


    <div class="row mt-2 activities-label">
        <div class="col-3">
            <div class="row">
                <div class="col-8 offset-4">
                    <p>Others: Carretelas</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="others_peddling" value="{{ form.others_peddling.value }}"/>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="others_delivery" value="{{ form.others_delivery.value }}"/>
        </div>
    </div>

    <div class="row mt-2 activities-label">
        <div class="col-3">
            <div class="row">
                <div class="col-8 offset-4">
                    <p>Pedicabs</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="pedicabs_peddling" value="{{ form.pedicabs_peddling.value }}"/>
        </div>

        <div class="col-2">
            <input class="form-control underlined-input" name="pedicabs_delivery" value="{{ form.pedicabs_delivery.value }}"/>
        </div>
    </div>

    <div class="row mt-5 activities-label">
        <div class="col-3">
            <p>Inspection conducted by:</p>
        </div>

        <div class="col-4">
            <input class="underlined-input py-0 my-0 w-100" name="bplo_inspector" value="{{ form.bplo_inspector.value }}" required>
        </div>
    </div>

    <div class="row activities-label">
        <div class="col-4 offset-3 text-center">
            <div class="w-100"><small class="align-top text-capitalize agreement-text">BPLO Inspector<span class="text-danger"> *</span></small></div>
        </div>
    </div>
    
    <div class="row activities-label">
        <div class="col-5">
            <div class="row">
                <label for="inspection_date" class="col-4 col-form-label">Date of Inspection:</label>
                <div class="col-8">
                    <input class="form-control underlined-input" type="date" name="inspection_date" id="inspection_date"  value="{{ form.inspection_date.value }}">
                </div>
            </div>
        </div>

        <div class="col-5 offset-2">
            <div class="row">
                <label for="conforme" class="col-4 col-form-label">Conforme:</label>
                <!-- <div class="col-8">
                    <p class="py-0 my-0 underlined"></p>
                    <small class="align-top text-uppercase agreement-text">Signature over Printed Name</small>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row activities-label">
        <div class="col-5 offset-7">
            <div class="row">
                <div class="col-8 offset-4 text-center">
                    <p class="py-0 my-0 underlined"></p>
                    <small class="align-top text-uppercase agreement-text">Signature over Printed Name</small>
                </div>
            </div>
        </div>
    </div>


    <div class="row activities-label text-center">
        <p>Oath Undertaking</p>
        <p>I understand to comply with the regulatory requirement and deficiencies within 30 days from release of the business permit.</p>
    </div>

    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <p class="py-0 my-0 underlined"></p>
            <small class="align-top text-uppercase agreement-text">Signature of Applicant over Printed Name</small>
        </div>
    </div>

    <div class="row mt-5 activities-label">
        <div class="col text-left">
            <p>For Inquiries, Please contact: BPLO at <u>094262552741</u></p>
        </div>
    </div>
</div>