{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid p-4 bg-white">
    <div class="row">
        <div class="p-2 col-8 offset-2 text-center">
            <img class="img-fluid form-logo" src="{% static 'img/logo.png' %}">
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 text-center">
            <h4 class="mb-2">Republic of the Philippines</h4>
            <p>Province of Leyte</p>
            <p>Municipality of Dulag</p>
        </div>
    </div>
</div>