{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block mycss %}
{{ block.super }}
{% bootstrap_css %}
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% if form.instance.status == 1 %}
<style>
    /* .form-select{
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        text-indent: 1px !important;
        text-overflow: '' !important;
    } */

    .business-form-section{
        font-size:0.8rem;
    }

    .column-label{
        font-size: 0.68rem;
    }

    .form-check-inline{
        margin-right: 0px !important;
    }

    small{
        font-size: 0.68rem !important;
    }

    #div_id_barangay_business_clearance, #div_id_proof_of_business_name_registration, #div_id_community_tax_certificate{
        margin-bottom: 0px !important;
    }

    #page1Div label, #page2Div label, #page2Div .input-group-text, #table_verification_documents td{
        text-transform: uppercase;
        font-size: 0.6rem !important;
        color:black;
    }

    small, label, span, p, h1{
        letter-spacing: 0.04px;
    }

    .form-control{
        padding-top:0.9rem !important;
        padding-bottom:0px !important;
        /* height: 30px !important; */
        /* height:calc(100% - 18px) !important; */
        height: calc(2.2rem + 2px) !important;
        font-size: 12.8px !important;/*0.8rem;*/
        line-height: 1 !important;
        /* letter-spacing: 0.01px; */
     }

     td .form-control{
        padding-top:0.1rem !important;
     }

     .form-control-plaintext, .col-form-label, .activities-label p{
        font-size: 0.8rem !important;
        padding-top:0px !important;
        padding-bottom:4px !important;
        margin-bottom: 0px !important;
     }

    #page2Div .input-group-text, .activities-label, #page2Div input{
        font-size: 0.8rem !important;
        height: calc(1.8rem + 2px) !important;
        line-height: 1.25 !important;
        padding-bottom: 0px !important;
    }

    /* .form-floating label{
        transform: scale(.85) translateY(-15px) translateX(.15rem) !important;
    } */

     
</style>
{% endif %}

{% if request.user.is_superuser and form.instance.status == 4 or form.instance.status == 5 %}
<style>
    #businessPermitDiv p, #businessPermitDiv h1, #businessPermitDiv, #businessPermitDiv h6{
        letter-spacing: 1px;
    }
</style>
{% endif %}

{% endblock mycss %}

{% block content %}
{% include 'partials/_navbar.html' %}
<div class="container-fluid pt-5">
    <div class="d-flex align-items-start" >
        <button id="sideBarExpand" class="collapse multi-collapse btn btn-primary text-white fw-bold" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="sideBarExpand v-pills-tab"><i class="bi bi-chevron-double-right"></i></button>
        
        {% include 'partials/_sidebar.html' %}
        
        <div class="col shadow tab-content" id="v-pills-tabContent">
            

            {% if form and form.instance.status == 1 or form.instance.status == 3 and not request.user.is_superuser %}
            <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                <div class="container p-2">
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        Please correct the following fields:
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="error_field_shortcut" data-target="{% if message.extra_tags %}{{ message.extra_tags }}{% endif %}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    
                    <form id="permitForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                    {% include 'partials/_form_page1.html' %}

                    {% include 'partials/_form_page2.html' %}
                    </form>

                    <div class="row">
                        {% if request.user.is_superuser %}
                        {% if form.instance.status == 1 %}
                        <p>Submitted Business Requirements:</p>
                        
                        <ul class="pl-4">
                            {% if form.barangay_business_clearance.value %}
                                <li><a target="_blank" href="{{ form.barangay_business_clearance.value.url }}">Barangay Clearance</a></li>
                            {% endif %}
                            {% if form.proof_of_business_name_registration.value %}
                                <li><a target="_blank" href="{{ form.proof_of_business_name_registration.value.url }}">Business Name Registration</a></li>
                            {% endif %}
                            {% if form.community_tax_certificate.value %}
                                <li><a target="_blank" href="{{ form.community_tax_certificate.value.url }}">Community Tax Certificate</a></li>
                            {% endif %}
                        </ul>
                        <hr>



                        <div class="col-12">
                            <form class="form" method="post" action="{% url 'system:approve' pk=form.instance.pk %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div id="copyInputContainer"></div>
                                

                                <div class="row">
                                    <div class="col-3 collapse show multi-collapsed" id="acceptButton">
                                        <button id="approveSubmit" type="submit" class="btn btn-success">Approve Application</button>
                                    </div>
                                    <div class="col-3 collapse show multi-collapsed">
                                        <button type="button" class="btn btn-danger"  data-bs-toggle="collapse" data-bs-target=".multi-collapsed" aria-expanded="false" aria-controls="acceptButton denyForm">Deny Application</button>
                                    </div>
                                </div>
                            </form>

                            <form class="form" method="post" action="{% url 'system:reject' pk=form.instance.pk %}">
                                {% csrf_token %}
                                
                                <div class="col-4 collapse multi-collapsed" id="denyForm">
                                    <div class="mb-3">
                                        <label for="reason_reject">Reason</label>
                                        <input name="deny_reason" type="text" class="form-control" placeholder="No reason" id="reason_reject" required>
                                        
                                    </div>

                                    <div class="mb-3">
                                        <label for="remarks_reject">Remarks</label>
                                        <textarea name="deny_remarks" placeholder="Remarks" id="remarks_reject" rows="4" cols="50" required></textarea>
                                        
                                    </div>

                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target=".multi-collapsed" aria-expanded="false" aria-controls="acceptButton denyForm">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

            {% if form and form.instance.status == 2 %}
                {% include 'partials/_deny_view.html' %}
            {% endif %}
            
            {% if form and request.user.is_superuser and form.instance.status == 3 or form.instance.status == 4 %}
                <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                    {% include 'partials/_certificate.html' %}
                </div>
            {% endif %}

            {% if form and form.instance.status == 4 or form.instance.status == 5%}
                {% if not request.user.is_superuser and  form.instance.status == 5 %}
                <div class="container-fluid">
                    <div class="row">
                        {% include 'partials/_certificate.html' %}
                    </div> 
                    <div class="row">
                        {% include 'partials/_permit.html' %}
                    </div>
                       
                </div>
                    
                {% else %}
                    {% include 'partials/_permit.html' %}
                {% endif %}
            {% endif %}

            <div class="row" id="page2Buttons">
                {% if request.user.is_superuser and form.instance.status == 4 or form.instance.status == 5 %}
                    <div class="col-12 pb-5 text-center">
                        <button onclick="printToPDF()" type="button" class="btn btn-primary">Print Business Permit <i class="bi bi-printer"></i></button>
                        {% if request.user.is_superuser and form.instance.status == 4 %}
                        <form class="form" method="post" style="display:inline" action="{% url 'system:confirm-issuance' pk=form.instance.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Release Business Permit </button>
                        </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if form %}
<p hidden id="form_business_id_no">{{ form.instance.business_identification_no }}</p>
{% endif %}

    <button onclick="topFunction()" id="toTopBtn" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.1/purify.min.js" integrity="sha512-uHOKtSfJWScGmyyFr2O2+efpDx2nhwHU2v7MVeptzZoiC7bdF6Ny/CmZhN2AwIK1oCFiVQQ5DA/L9FSzyPNu6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf-html2canvas@latest/dist/jspdf-html2canvas.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

        function printToPDF(divID, fileName){
            // const {html2PDF} = window.html2PDF;
            const { jsPDF } = window.jspdf;

            $('#page2Buttons').hide();

            if (divID == undefined)
                divID = '#businessPermitDiv';
            if (fileName == undefined){
                let business_identificaion_no = $('#form_business_id_no').text();
                fileName = business_identificaion_no;
            }

            var theDivToPrint = $(divID);
            theDivToPrint.css('min-width', '796px');
            theDivToPrint.css('max-width', '796px');

            console.log(theDivToPrint);

            html2PDF(theDivToPrint, {
                jsPDF: {
                    format: 'a4'
                },
                html2canvas: {
                    width:796,
                    height:1123,
                    scale:4
                },
                imageType: 'image/jpeg',
                output: `${fileName}.pdf`,
                success: function(pdf) {
                    theDivToPrint.get(0).style.removeProperty('min-width');
                    theDivToPrint.get(0).style.removeProperty('max-width');
                    $('#page2Buttons').show();
                    pdf.save(this.output);                    
                }
            });
        }
    </script>

    <script type="text/javascript">
        // Get the button:
        let mybutton = document.getElementById("toTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    {% if form and form.instance.status == 1 %}
    <script type="text/javascript">
        let transaction_type = $(`option[value="${$('#id_transaction_type').val()}"]`).text();
        $('#id_transaction_type').replaceWith(`<p id="id_transaction_type">${transaction_type}</p>`);
        $('#id_transaction_type').insertAfter($('label[for="id_transaction_type"]'));
        $('#id_transaction_type').parent().removeClass('form-floating');


        $('#deed_row').addClass('mt-5');
        $('input').each(function(){
            $(this).removeAttr('placeholder');
        });

        $('.underlined-input, #fire_inspection_fee, #estimated_capitalization, .to_disable_on_read_only, .form-check-input').each(function( index ) {
            $(this).prop('readonly', true);
            if($(this).hasClass('form-control')){
                $(this).addClass('form-control-plaintext');
                $(this).removeClass('form-control');
            }

            if($(this).hasClass('input-group-text')){
                $(this).addClass('m-auto');
                $(this).addClass('mr-2');
            }
            $(this).removeClass('input-group-text');

            if($(this).hasClass('form-check-input')){
                $(this).prop('disabled', true);
            }
        });
        

        $('input[type="file"]').remove();

        
        if ($('#government_entity').length > 0){
            $('#government_entity_yes').prop('checked', true);
        }
        else{
            $('#government_entity_no').prop('checked', true);
        }

    </script>
    {% endif %}

    {% if request.user.is_superuser%}
    <script type="text/javascript">
        $(document).ready(function($) {
            $('#table_verification_documents :input').each(function() {
                $(this).prop('disabled', false);
                console.log('readonly toggled!');
            });

            $('#approveSubmit').click(function(){
                $('#copyInputContainer').empty();
                $('#table_verification_documents :input').each(function() {
                    let newElem = `<input type="text" name="${$(this).attr('name')}" value="${$(this).val()}" hidden>`;
                    $('#copyInputContainer').append(newElem);
                });
            });
        });
    </script>
    {% endif %}
{% endblock %}


