{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block mycss %}
{{ block.super }}
{% bootstrap_css %}
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock mycss %}

{% block content %}
{% include 'partials/_navbar.html' %}
<div class="container-fluid pt-5">
    <div class="d-flex align-items-start" >
        <button id="sideBarExpand" class="collapse multi-collapse btn btn-primary text-white fw-bold" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="sideBarExpand v-pills-tab"><i class="bi bi-chevron-double-right"></i></button>
        
        <div class="col-3 nav p-5 flex-column nav-pills me-3 sidebar collapse multi-collapse show" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="btn text-white fw-bold" data-bs-toggle="collapse" data-bs-target=".multi-collapse"  aria-expanded="false" aria-controls="sideBarExpand v-pills-tab">Business Management <span><i class="bi bi-chevron-double-left text-white"></i></span></button>
            <a class="nav-link {% if request.path != '/permit/create/'%}{% if not request.GET.status or request.GET.status == '1'%} active{% endif %}{% endif %}" href="{% url 'system:index'%}?status=1" id="v-pills-home-tab"  type="button"  aria-selected="true">Permit Applications</a>
            <a class="nav-link {% if request.GET.status == '2'%} active{% endif %}" href="{% url 'system:index'%}?status=2" id="v-pills-profile-tab" type="button" aria-selected="false">Denied Applications</a>
            <a class="nav-link {% if request.GET.status == '5'%} active{% endif %}" href="{% url 'system:index'%}?status=5" id="v-pills-disabled-tab" type="button"  aria-selected="false">My Businesses</a>
            <a class="nav-link {% if request.path == '/permit/create/'%} active{% endif %}" href="{% url 'system:create'%}" id="v-pills-messages-tab" type="button" role="tab" aria-selected="false">New Application</a>
        </div>
        <div class="col shadow tab-content" id="v-pills-tabContent">
            {% if table %}
            <div class="p-5 tab-pane fade {% if not request.GET.status or request.GET.status != '-1'%} show active{% endif %}" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            
            {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    {% bootstrap_button 'filter' %}
                </form>
            {% endif %}
            {% render_table table %}
            </div>
            {% endif %}

            {% if form %}
            <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                <div class="container p-2">
                    {% for error in form.non_field_errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                    {% include 'partials/_form_page1.html' %}

                    {% include 'partials/_form_page2.html' %}
                    
                        <div class="row" id="page2Buttons">
                            <div class="col-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

    <button onclick="topFunction()" id="toTopBtn" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>

    <script type="text/javascript">
        // Get the button:
        let mybutton = document.getElementById("toTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    <script type="text/javascript">
        const image_file_input = document.querySelector("#applicant_picture");
        const applicant_image = document.querySelector("#applicant_image_thumbnail");

        image_file_input.addEventListener("change", function() {

            const reader = new FileReader();

            reader.addEventListener("load", () => {
                applicant_image.src = reader.result;
                applicant_image.parentNode.parentNode.parentNode.classList.remove("placeholder-glow");
                applicant_image.parentNode.parentNode.classList.remove("bg-dark");
                applicant_image.parentNode.parentNode.classList.remove("placeholder");
            });

            reader.readAsDataURL(this.files[0]);
        });
    

        const sketch_file_input = document.querySelector("#sketch_image");
        const sketch_image = document.querySelector("#sketch_picture");

        sketch_file_input.addEventListener("change", function() {

            const reader = new FileReader();

            reader.addEventListener("load", () => {
                sketch_image.src = reader.result;
                // sketch_image.parentNode.parentNode.parentNode.classList.remove("placeholder-glow");
                // sketch_image.parentNode.parentNode.classList.remove("bg-dark");
                // sketch_image.parentNode.classList.remove("placeholder");
            });

            reader.readAsDataURL(this.files[0]);
        });
    </script>
    

{% endblock %}


