{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block mycss %}
{{ block.super }}
{% bootstrap_css %}
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock mycss %}

{% block content %}
{% include 'partials/_navbar.html' %}
<div class="container-fluid pt-5">
    <div class="d-flex align-items-start" >
        <button id="sideBarExpand" class="collapse multi-collapse btn btn-primary text-white fw-bold" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="sideBarExpand v-pills-tab"><i class="bi bi-chevron-double-right"></i></button>
        {% include 'partials/_sidebar.html' %}
        
        <div class="col shadow tab-content" id="v-pills-tabContent">
            {% if request.user.is_superuser and not request.GET.status and not request.GET.all %}
                <div class="row p-5">
                    <small>Hi Admin, welcome to your dashboard</small>
                    <hr>
                    <small>Business permit applications summary</small>

                    <div class="mt-3 container-fluid text-white text-uppercase text-center">
                        <div class="row">
                            <div class="col mx-1 bg-secondary bg-gradient bg-opacity-20 rounded p-4 dashboard-card">
                                <a class="application-card-link" href="{% url 'system:index'%}?all=1">
                                    <p class="mb-0">Total Applications</p>
                                    <hr class="border border-white opacity-100 my-0 py-0">
                                    <p class="mt-2 mb-0">{{ total_applications }}</p>
                                </a>
                            </div>
                            <div class="col mx-1 bg-danger bg-gradient bg-opacity-20 rounded p-4 dashboard-card">
                                <a class="application-card-link" href="{% url 'system:index'%}?status=2">
                                    <p class="mb-0">Denied Applications</p>
                                    <hr class="border border-white opacity-100 my-0 py-0">
                                    <p class="mt-2 mb-0">{{ denied_applications }}</p>
                                </a>
                            </div>
                            <div class="col mx-1 bg-success bg-gradient bg-opacity-20 rounded p-4 dashboard-card">
                                <a class="application-card-link" href="{% url 'system:index'%}?status=5">
                                    <p class="mb-0">Issued Permits</p>
                                    <hr class="border border-white opacity-100 my-0 py-0">
                                    <p class="mt-2 mb-0">{{ issued_applications }}</p>  
                                </a>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col mx-1 bg-primary bg-gradient bg-opacity-20 rounded p-4 dashboard-card">
                                <a class="application-card-link" href="{% url 'system:index'%}?status=1">
                                    <p class="mb-0">For Verification</p>
                                    <hr class="border border-white opacity-100 my-0 py-0">
                                    <p class="mt-2 mb-0">{{ for_verification_count }}</p>  
                                </a>
                            </div>
                            <div class="col mx-1 bg-warning bg-gradient bg-opacity-20 rounded p-4 dashboard-card">
                                <a class="application-card-link" href="{% url 'system:index'%}?transaction_type=2">
                                    <p class="mb-0">For Renewal</p>
                                    <hr class="border border-white opacity-100 my-0 py-0">
                                    <p class="mt-2 mb-0">{{ for_renewals_count }}</p>
                                </a>  
                            </div>
                            <div class="col mx-1 bg-secondary bg-gradient bg-opacity-20 rounded p-4 dashboard-card">
                                <a class="application-card-link" href="{% url 'system:index'%}?status=4">
                                    <p class="mb-0">For Printing/Issuance</p>
                                    <hr class="border border-white opacity-100 my-0 py-0">
                                    <p class="mt-2 mb-0">{{ for_issuance_count }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            

            {% elif table %}
                
            <div class="p-5 tab-pane fade {% if not request.GET.status or request.GET.status != '-1'%} show active{% endif %}" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                

            {% if filter %}
                <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Search <i class="bi bi-search"></i>
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="" method="get" class="form form-inline mb-2">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Search</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    
                                        {% bootstrap_form filter.form layout='inline' %}
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Search <i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>

                
            {% endif %}
            {% render_table table %}
            </div>
            {% endif %}

            {% if form %}
            <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                <div class="container p-2">
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        Please correct the following fields:
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="error_field_shortcut" data-target="{% if message.extra_tags %}{{ message.extra_tags }}{% endif %}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                    {% include 'partials/_form_page1.html' %}

                    {% include 'partials/_form_page2.html' %}
                
                    <div class="row" id="page2Buttons">
                        <div class="col-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

    <button onclick="topFunction()" id="toTopBtn" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    {% if not request.user.is_superuser%}
    <script type="text/javascript">
        $(document).ready(function($) {
            $('#table_verification_documents :input').each(function() {
                $(this).attr('readonly', true);
                if ($(this).attr('type') != 'radio'){
                    $(this).attr('type', 'text');
                }
                console.log('readonly toggled!');
            });
        });
    </script>
    {% endif %}
    

    <script type="text/javascript">
        $(document).ready(function($) {

            $(`input[name="fire_safety_date"]`).flatpickr();
            $(`input[name="time_date_received"]`).flatpickr();
            $(`input[name="inspection_date"]`).flatpickr();

            $(`input[name="community_tax_date_issued"]`).flatpickr();
            $(`input[name="rent_start"]`).flatpickr();
            
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function($) {
            $(".records-table tr").click(function() {
                if (this.hasAttribute('data-href'))
                    window.location = $(this).data("href");
            });
        });
    </script>

    <script type="text/javascript">
        // Get the button:
        let mybutton = document.getElementById("toTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    <script type="text/javascript">
        const image_file_input = document.querySelector("#applicant_picture");
        const applicant_image = document.querySelector("#applicant_image_thumbnail");

        if (image_file_input != undefined){
            image_file_input.addEventListener("change", function() {

                const reader = new FileReader();

                reader.addEventListener("load", () => {
                    applicant_image.src = reader.result;
                    applicant_image.parentNode.parentNode.parentNode.classList.remove("placeholder-glow");
                    applicant_image.parentNode.parentNode.classList.remove("bg-dark");
                    applicant_image.parentNode.parentNode.classList.remove("placeholder");
                });

                reader.readAsDataURL(this.files[0]);
            });
        }
    

        const sketch_file_input = document.querySelector("#sketch_image");
        const sketch_image = document.querySelector("#sketch_picture");

        if (sketch_file_input != undefined){
            sketch_file_input.addEventListener("change", function() {

                const reader = new FileReader();

                reader.addEventListener("load", () => {
                    sketch_image.src = reader.result;
                });

                reader.readAsDataURL(this.files[0]);
            });
        }
    </script>
    
    <script type="text/javascript">
        $('.error_field_shortcut').click(function (evt){
            let target_input = $(this).data('target');
            console.log(target_input);
            $(`input[name="${target_input}"]`).focus();
            // $('input#geo_title').removeAttr('value');
            // $("input#geo_title").focus();
            evt.preventDefault();
        }); 
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            // Restricts input for the given textbox to the given inputFilter function.
            function setInputFilter(textbox, inputFilter, errMsg) {
            [ "input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop", "focusout" ].forEach(function(event) {
                textbox.addEventListener(event, function(e) {
                if (inputFilter(this.value)) {
                    // Accepted value.
                    if ([ "keydown", "mousedown", "focusout" ].indexOf(e.type) >= 0){
                    this.classList.remove("input-error");
                    this.setCustomValidity("");
                    }

                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                }
                else if (this.hasOwnProperty("oldValue")) {
                    // Rejected value: restore the previous one.
                    this.classList.add("input-error");
                    this.setCustomValidity(errMsg);
                    this.reportValidity();
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
                else {
                    // Rejected value: nothing to restore.
                    this.value = "";
                }
                });
            });
            }

            var regexNumberOnly = /^\d+$/;
            var regexLettersOnly = /^[a-zA-Z]*$/;

            setInputFilter(document.getElementsByName("business_applicant_day")[0], function(value) {
                return regexNumberOnly.test(value); // Allow digits and '.' only, using a RegExp.
            }, "Only digits are allowed");

            setInputFilter(document.getElementsByName("business_applicant_year")[0], function(value) {
                return regexLettersOnly.test(value); // Allow digits and '.' only, using a RegExp.
            }, "Only letters are allowed");
        });
    </script>
{% endblock %}


