.sidebar{
    background-color: #425569;
    border-radius: .375rem;
}

.nav-link{
    text-align: left;
}


.nav-pills .nav-link:not(.active){
    
    color: white !important;
}

.nav-link:hover{
    background-color: rgb(156 163 175) !important;
}

.nav-pills .active{
    background-color: white !important;
    color: black !important;
}

.tab-content{
    background-color: rgb(241 245 249);
    border-radius: .375rem;
}

thead{
    background-color: rgb(249 250 251);
}

th{
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
    font-family: 'Inter', sans-serif;
}

tr{
    font-family: 'Inter', sans-serif;
}

th a{
    color: rgb(55 65 81);
}

td{
    color:rgb(107 114 128);
    font-size: .875rem;
    line-height: 1.25rem;
}

[colspan|="5"] {
    color: rgb(200 30 30);
    text-align:center;
}

.business-form-section{
    text-align: center;
    text-transform: uppercase;
    background-color: aliceblue;
}

.bordered-section{
    border: black solid 1px;
}

.form-logo{
    width:14%;
    height: auto;
}

.underlined{
    border-bottom: black solid 1px;
}

#page1Div label, #page2Div label, #page2Div .input-group-text{
    text-transform: uppercase;
    font-size: 0.7rem !important;
    color:black;
    /* opacity: 0.5; */
}

#page2Div .input-group-text, .activities-label, #page2Div input{
    font-size: 0.7rem !important;
}

#page2Div label{
    padding-right: 0px !important;
    margin-right:  0px !important;
}

form .input-group-text{
    text-align: left;
    text-transform: uppercase;
    width:20%;
    font-weight: bold;
    font-size: 0.8rem;
    white-space: normal;
}

.form-div{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-left: black solid 1px;
}

.form-header textarea{
    font-size: 0.8rem;
    font-weight: normal;
    resize: none;
}

.form-header{
    background-color: white;
}

table tr .column-label, #table_verification_documents td, #table_verification_documents th{
    color: black;
    opacity: 0.8;
    background-color: white;
    text-align: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin:0px !important;
    padding:0px !important;
}


.form-table-input, .form-table-input div{
    padding: 0px !important;
    margin: 0px !important;
    height: 100%;
}

.form-table-input input
{
    font-size: 0.8rem;
}

/* Chrome, Safari, Edge, Opera */
.form-table-input input::-webkit-outer-spin-button,
.form-table-input input::-webkit-inner-spin-button,
.no-arrow-input{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-table-input input[type=number],
.no-arrow-input {
  -moz-appearance: textfield;
}

#table_verification_documents td{
    font-size: 0.8rem;
}

#table_verification_documents td div{
    margin: 0px !important;
}

.underlined-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline:none;
    box-shadow:none;
}

.agreement-text{
    font-size: 0.8rem;
}

#applicant_image_thumbnail{
    opacity: 1;
}


#toTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #toTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .error_field_shortcut{
    cursor: pointer;
    opacity: 0.8;
  }

  .error_field_shortcut:hover{
    opacity: 1;
  }

  .table-hover tr{
    cursor: pointer;
  }

  .form-control:disabled, .form-control[readonly] {
        background-color: inherit;
        opacity: 1;
    }

    .form-select:disabled {
        background-color: inherit;
    }

    .form-control {
        height: 28px !important;
        font-size: 0.8rem;
        letter-spacing: 0.01px;
     }

     .bpls-form-header p{
        font-size: 0.8rem !important;
     }